@import "../main.scss";

@mixin autoCompl($background, $color, $isDark) {
  .autocomplet {
    margin: 0 20px 0 20px;
    background-color: $background;
    .MuiAutocomplete-noOptions {
      background-color: $background;
      color: $color;
    }
    .MuiAutocomplete-option {
      background-color: $background;
      color: $color;
      &:hover {
        @if ($isDark) {
          background-color: lighten($background, 10%);
        } @else {
          background-color: darken($background, 10%);
        }
      }
    }
  }
}

@mixin Context($background, $color, $isDark) {
  .cont {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    > span {
      margin: 20px 0 0 20px;
      font-size: 30px;
      font-weight: 600;
      text-indent: 10px;
    }
  }

  ul.convo-list-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888888; /* Color of the scrollbar thumb */
      border-radius: 4px; /* Rounded corners for the thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f000; /* Color of the scrollbar track */
      border-radius: 4px; /* Rounded corners for the track */
    }

    li.convo-list {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
      border-radius: 5px;

      &.selected {
        @if ($isDark) {
          background-color: lighten($background, 30%);
        } @else {
          background-color: darken($background, 30%);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
          font-size: 20px;
        }
        .lastmsg {
        }
      }

      cursor: pointer;
      padding: 10px;

      &:hover {
        transition: all 0.1s ease;
        @if ($isDark) {
          background-color: lighten($background, 10%);
        } @else {
          background-color: darken($background, 10%);
        }
      }
    }
  }

  z-index: 1;
}

.sidebar {
  width: 20%;
  height: 100%;

  &.light {
    background-color: $Background-color-light;
    @include Context($Background-color-light, $color-light, false);
    * {
      color: $color-light;
    }
  }
  &.dark {
    @include Context($Background-color-dark, $color-dark, true);
    background-color: $Background-color-dark;
    * {
      color: $color-dark;
    }
  }
}

.settings {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  span {
    font-size: 40px;
  }
  .const {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
