$nav-color: rgb(86, 118, 127);
@use "../main.scss" as main;

.signin-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 223, 255);
  .table {
    background-color: aliceblue;

    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 0 20px aliceblue;
    padding: 20px;
    @include main.breakpoint(xs) {
      width: 100%;
      height: 100%;
    }
    @include main.breakpoint(sm) {
      width: 100%;
      height: 100%;
    }
    @include main.breakpoint(bg) {
      width: 45%;
      height: 90%;
    }

    .title {
      font-size: clamp(2rem, 2vw, 3rem);
      font-weight: 700;
      letter-spacing: 2px;
      text-decoration: none;
      color: #5383ec;
    }
    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 30px;

      > input {
        padding: 20px;
        width: 80%;
        border: none;
        background: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.308);
        font-size: clamp(0.75rem, 1.5vw, 20px);
        color: rgba(0, 0, 0, 0.619);
        text-indent: 10px;
        &::placeholder {
          color: rgba(0, 0, 0, 0.308);
        }
        &:focus {
          transition: transform 0.1s ease-in;
          outline: none;
          transform: scale(1.1);
          border: none;
        }
      }
      > label {
        font-size: clamp(0.75rem, 1.5vw, 20px);
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .avatar-icon {
          color: #5383ec;
          font-size: 30px;
        }
        > span {
          font-size: clamp(0.75rem, 1.5vw, 20px);
          color: #5383ec;
        }
      }
      > button {
        padding: 20px;
        width: 80%;
        background: none;
        font-size: clamp(0.75rem, 1.5vw, 20px);
        cursor: pointer;
        border: none;
        background-color: #5383ec;
        box-shadow: 0 0 20px #5383ec;
        color: white;
      }
    }

    > span {
      font-size: clamp(0.75rem, 1.5vw, 20px);
    }
    > button {
      background: aliceblue;
      border-radius: 50px;
      padding: 15px;
      border: none;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: clamp(0.75rem, 1.5vw, 20px);
      cursor: pointer;
      img {
        width: 20px;
      }
      > span {
        font-size: clamp(0.75rem, 1.5vw, 20px);
      }
      &:hover {
        transition: all 0.1s ease-in-out;
        background-color: #5383ec;
        color: white;
      }
    }
    > div {
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;
      border-bottom: 0.1px solid;
      padding-bottom: 5px;
      > * {
        text-decoration: none;
        color: rgb(0, 132, 255);
      }
    }
  }
}
